/* Buttons */
.videoPlayer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.videoPlayer #videoControls {
  padding: 5px 15px;
}
.videoPlayer #videoControls .videoTitleRow {
  margin: 5px 0;
  align-items: center;
  justify-content: space-between;
}
.videoPlayer #videoControls .videoTitleRow button.previous,
.videoPlayer #videoControls .videoTitleRow button.next {
  padding: 5px 10px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}
.videoPlayer #videoControls .videoTitleRow button.previous:hover,
.videoPlayer #videoControls .videoTitleRow button.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.videoPlayer #videoControls .videoTitleRow button.previous:active,
.videoPlayer #videoControls .videoTitleRow button.next:active {
  transform: translateY(2px);
}
.videoPlayer #videoControls .videoTitleRow button.previous {
  box-shadow: 1px 3px 6px black;
}
.videoPlayer #videoControls .videoTitleRow button.previous:active {
  box-shadow: 1px 1px 3px black;
}
.videoPlayer #videoControls .videoTitleRow button.next {
  box-shadow: -1px 3px 6px black;
}
.videoPlayer #videoControls .videoTitleRow button.next:active {
  box-shadow: -1px 1px 3px black;
}
.videoPlayer #videosSidebar {
  height: inherit;
  overflow: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.videoPlayer #videosSidebar .activeVideo {
  opacity: 1;
}
.videoPlayer #videosSidebar video {
  cursor: pointer;
  opacity: 0.5;
  padding-top: 5px;
  padding-bottom: 5px;
}
